In [2]:
import pandas as pd
# Inventory DataFrame
data = {
    "Location1": [100, 50, 300, 200, 80],
    "Location2": [200, 60, 400, 250, 90],
    "Location3": [150, 40, 350, 220, 70],
    "Location4": [300, 80, 500, 270, 100]
}
i = pd.DataFrame(data, index=["Product1", "Product2", "Product3", "Product4", "Product5"])

In [3]:
# 1.  Display the first two rows of the inventory DataFrame.
i.head(2)

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40         80

In [4]:
# 2.Get the total number of rows and columns in the DataFrame.
i.shape

(5, 4)

In [5]:
# 3. List the column names and row indices.
i.columns.tolist()

['Location1', 'Location2', 'Location3', 'Location4']

In [6]:
i.index.tolist()

['Product1', 'Product2', 'Product3', 'Product4', 'Product5']

In [7]:
# 4. Display the data type of each column in the DataFrame
i.dtypes

Location1    int64
Location2    int64
Location3    int64
Location4    int64
dtype: object

In [8]:
# 5.Check if there are any missing values in the DataFrame.
i.isnull().sum()

Location1    0
Location2    0
Location3    0
Location4    0
dtype: int64

In [11]:
# 6.Retrieve the stock levels for "Product3" across all locations. 
b = i.loc["Product3"]
print(b)

Location1    300
Location2    400
Location3    350
Location4    500
Name: Product3, dtype: int64

In [12]:
# 7.Extract the stock levels for "Location2" across all products.
a = i.iloc[:, 1]
print(a)

Product1    200
Product2     60
Product3    400
Product4    250
Product5     90
Name: Location2, dtype: int64

In [13]:
# 8.Retrieve the stock levels of "Product 1" and "Product4" for "Location1" and "Location3".
a = i.iloc[[0,3],[0,2]]
print(a)

          Location1  Location3
Product1        100        150
Product4        200        220

In [15]:
# 9.Slice the DataFrame to get the first 3 products and the first 2 locations.
b = i.iloc[0:3,0:4]
print(b)

          Location1  Location2  Location3  Location4
Product1        100        200        150        300
Product2         50         60         40         80
Product3        300        400        350        500

In [16]:
# 10.Retrieve the stock level of "Product 5" at "Location 3" 
a = i.loc["Product5", "Location3"]
print(a)

70

In [27]:
# 11.Update the stock level of "Product 2" at "Location 4" to 120 units.
i.at["Product2", "Location4"] = 120
print(i)

          Location1  Location2  Location3  Location4  (Product2, Location4)
Product1        100        200        150        300                    120
Product2         50         60         40        120                    120
Product3        300        400        350        500                    120
Product4        200        250        220        270                    120
Product5         80         90         70        100                    120

In [41]:
# 14
i= i.loc["Product4"] - 5
print(i)

Location1                230
Location2                280
Location3                250
Location4                300
(Product2, Location4)    150
Name: Product4, dtype: int64